$background-color: rgb(245, 245, 245);
$background-color-dark: rgb(223 227 230 / 55%);
$primary-color: rgb(25, 118, 210);
$primary-color-light: rgb(105, 155, 200);
$primary-color-dark: rgb(12, 60, 100);
$secondary-color: #8c8c8c;
$danger-color: rgb(211, 47, 47);
$primary-link-color: #117fd9;
$default-border-or-line-color: #2c2c2c;
