@import '../../styles/colors.scss';

.board {
  width: 18rem;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &-inner{
    background-color: $background-color-dark;
    padding: 1rem;
    border-radius: 0.25rem;
    height: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.375rem;
    color: $primary-color;

    &-title {
      font-weight: bold;
      font-size: 1rem;
      display: flex;
      gap: 0.375rem;
      align-items: center;

      span {
        color: $secondary-color;
      }
    }
  }

  &-cards {
    padding: 0.625rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    overflow-y: auto;
  }

  &-add-card {
    background-color: $primary-color;
    color: white;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
  
    &:hover {
      background-color: $primary-color-dark;
    }
  }
}
